$body-background: #ffffff;
$color-default-text: #212121;
$primary-color: #7d22c3;

$marker-color-0: #dc2626;
$marker-color-1: #d97706;
$marker-color-2: #65a30d;
$marker-color-3: #059669;
$marker-color-4: #0891b2;
$marker-color-5: #2563eb;
$marker-color-6: #7c3aed;
$marker-color-7: #c026d3;
$marker-color-8: #e11d48;
$marker-color-9: #ea580c;
$marker-color-10: #ca8a04;
$marker-color-11: #16a34a;
$marker-color-12: #0d9488;
$marker-color-13: #0284c7;
$marker-color-14: #4f46e5;
$marker-color-15: #9333ea;
$marker-color-16: #db2777;
$marker-color-17: #991b1b;
$marker-color-18: #92400e;
$marker-color-19: #3f6212;
$marker-color-20: #065f46;
$marker-color-21: #155e75;
$marker-color-22: #1e40af;
$marker-color-23: #5b21b6;
$marker-color-24: #86198f;
$marker-color-25: #9f1239;
$marker-color-26: #9a3412;
$marker-color-27: #854d0e;
$marker-color-28: #166534;
$marker-color-29: #115e59;
$marker-color-30: #075985;
$marker-color-31: #3730a3;
$marker-color-32: #6b21a8;
$marker-color-33: #9d174d;
