:local(.keyboardKey) {
  display: inline-block;
  border: 1px solid #DDD;
  border-top: none;
  margin-left: -1px;
  text-align: center;
  height: 180px;
  vertical-align: top;
  white-space: normal;

  &:local(.white) {
    width: 50px;
    background-color: #FEFEFE;
    :local(.keyName) {
      position: relative;
      top: 115px;
    }
  }

  &:local(.black) {
    width: 36px;
    background-color: #222;
    height: 95px;
    position: relative;
    margin: 0 -18px;
    color: #FFF;
    :local(.keyName) {
      position: relative;
      top: 15px;
    }
  }


}
