:local(.fretboard) {
  position: relative;

  :local(.tuners) {
    position: absolute;
    width: 86px;

    :local(.fretnumber) {
      border: none;
    }

    select {
      width: 16px;
    }
  }

  :local(.tuner) {
    height: 40px;
    border: none;

    :local(.fret) {
      border: none;
      display: inline-block;
    }

    select {
      display: inline-block;
    }

    :local(.selectListIcon) {
      &:before {
        display: inline-block;
        font-family: FontAwesome;
        content: "\F078";
        width: 35px;
        height: 35px;
        text-align: center;
      }

      + select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 35px;
        height: 35px;
        margin-left: -40px;
        margin-right: -5px;
        opacity: 0;
      }
    }
  }

  :local(.frets) {
    margin-left: 86px;
    white-space: nowrap;
    overflow-x: auto;
  }

  :local(.fret) {
    width: 60px;
    height: 40px;
    display: inline-block;
    border-left: 1px solid #CCC;
    text-align: center;
    line-height: 35px;

    &:local(.fretnumber) {
      border-left: 1px solid transparent;
    }
  }
}
