
$marker-color-0: #2274d8;
$marker-color-1: #03AFBF;
$marker-color-2: #1CC43B;
$marker-color-3: #ED9D07;
$marker-color-4: #f3382b;

$marker-color-5: #841726;
$marker-color-6: #512DA8;
$marker-color-7: #CD22D8;
$marker-color-8: #C2185B;
$marker-color-9: #388E3C;
$marker-color-10: #00796B;
$marker-color-11: #90521e;

