

$marker-color-0: #D32F2F;
$marker-color-1: #512DA8;
$marker-color-2: #1976D2;
$marker-color-3: #C2185B;
$marker-color-4: #388E3C;
$marker-color-5: #00796B;
$marker-color-6: #0097A7;
$marker-color-7: #E64A19;
