:local(.alternativeSelection){
  text-align: right;
  :local(.selectionListMessage){
    padding: 4px;
  }
  :local(.snackbarMessage){
    svg {
      vertical-align: bottom;
      margin-right: 4px;
    }
  }
}
