:local(.selection) {
  :local(.formControl) {
    margin: 0 15px;
    min-width: 80px;
    color: #fff;

    label {
      color: #fff;
    }

    :local(.select) {
      color: #fff;

      &::before {
        border-color: #fff;
      }

      &:hover {
        &::before {
          border-color: #fff;
        }
      }

      svg {
        color: #fff;
      }
    }
  }
}
