main{
	margin-top: 29px;
	height: -moz-calc(100% - 29px);
	height: -webkit-calc(100% - 29px);
	height: calc(100% - 29px);
	@media only screen and (min-width: 768px){
		margin-top: 45px;
		height: -moz-calc(100% - 45px);
		height: -webkit-calc(100% - 45px);
		height: calc(100% - 45px);
	}
	> .main-content {
		padding: 0;
	}
}
