.fretboard {
	position: relative;
	.tuners {
		position: absolute;
		background-color: #FFF;
		width: 55px;
	}
	.tuner {
		line-height: 25px;
		border: 1px solid #AAA;
	}
	.frets {
		margin-left: 55px;
		white-space: nowrap;
		overflow-x: auto;
	}
	.fret {
		width: 55px;
		display: inline-block;
		border: 1px solid #CCC;
		text-align: center;
		line-height: 25px
	}

}
