.keyboard {
    .keys {
        padding-top: 12px;
        white-space: nowrap;
        overflow-x: auto;
        .key {
            display: inline-block;
            border: 1px solid #CCC;
            text-align: center;
            height: 180px;
            vertical-align: top;
            white-space: normal;
            &.keycolor-black {
                width: 36px;
                background-color: #222;
                height: 95px;
                position: relative;
                margin: 0px -18px;
                color: #FFF;
            }
            &.keycolor-white {
                width: 50px;
                background-color: #FEFEFE;
            }
            .keyname {
                position: relative;
                bottom: 14px;
            }
        }
    }
}
