.marker {
  border-radius: 6px;
  padding: 2px 4px;
  color: white;
  background-color: #272b2f;
  &.marker-color-1 {
    background-color: $marker-color-1;
  }

  &.marker-color-3 {
    background-color: $marker-color-3;
  }

  &.marker-color-5 {
    background-color: $marker-color-5;
  }

  &.marker-color-6 {
    background-color: $marker-color-6;
  }

  &.marker-color-7 {
    background-color: $marker-color-7;
  }

  &.marker-color-9 {
    background-color: $marker-color-9;
  }

  &.marker-color-11 {
    background-color: $marker-color-11;
  }

  &.marker-color-13 {
    background-color: $marker-color-13;
  }
}

.key {
  &.keycolor-black {
    .marker {
      top: 5px;
    }
  }
  &.keycolor-white {
    .marker {
      top: 27px;
    }
  }
  .marker {
    position: relative;
    display: block;
    margin: auto;
    width: 16px;
    padding: 1px 2px;
  }
}

