

$marker-color-1: #D32F2F;
$marker-color-3: #1976D2;
$marker-color-5: #388E3C;
$marker-color-6: #00796B;
$marker-color-7: #0097A7;
$marker-color-9: #C2185B;
$marker-color-11: #E64A19;
$marker-color-13: #512DA8;